/*----------------------------------------

	CONTENT

----------------------------------------*/

.content {
	background: #FFF;
	//height: 1000px;
	padding: 1em; // 16px
	position: relative;
	z-index: 1;
}